<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>職人用ログイン | Traemon</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <script th:src="@{/js/common.js}" defer></script>

</head>
<body>

<!-- 共通ヘッダー -->
<div th:replace="~{fragments/header :: header}"></div>

<main>
  <div class="container">
    <section>
      <h1 class="page-title">職人用ログイン</h1>
      <p class="page-subtitle">
        職人アカウントでTraemonを利用します。
      </p>
	  <p th:if="${messageError}" th:text="${messageError}"></p>
      <form class="card form-card"
            th:action="@{/artisan/login}"
            th:object="${loginForm}"
            method="post">

        <div class="form-group">
          <label for="artisanEmail">メールアドレス</label>
          <input id="artisanEmail"
                 type="email"
                 th:field="*{email}">

          <p th:if="${#fields.hasErrors('email')}"
             th:errors="*{email}"></p>
        </div>

        <div class="form-group">
          <label for="artisanPassword">パスワード</label>
          <input id="artisanPassword"
                 type="password"
                 th:field="*{password}" >

          <p th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}"></p>
        </div>

        <div class="actions">

          <button class="btn btn-primary" type="submit">
            ログイン
          </button>
          <a class="btn btn-secondary"
             th:href="@{/menu}">
            戻る
          </a>
        </div>

      </form>
    </section>
  </div>
</main>

</body>
</html>